<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<section class="px-4">
  <div class=" relative xl:ml-[150px] 2xl:ml-[300px] mt-[368px] text-[56px] w-[648px] mb-[22rem]">
    <img class="absolute xl:ml-[43rem] 2xl:ml-[50rem] mt-[-20rem]  xl:w-[542px] 2xl:w-[642px] xl:h-[698px] 2xl:h-[798px]" src="assets/img/imagen1-solucionatica.png" alt="">
    <h2>Diseñamos, Construimos y gestionamos soluciones digitales</h2>

    <p class="text-[19px]">Ayudamos a las organizaciones a desplegar sus iniciativas digitales de una forma eficiente y
      rápida. Si tienes un
      digital mindset y necesitas construir soluciones innovadoras, llevamos tus desafíos a la realidad.
    </p>
    <button mat-raised-button class="w-[221px] h-[60px] text-[14.5px]"
      style="background: linear-gradient(180deg, #082CEC 0%, rgba(97, 0, 255, 0.6) 100%); border-radius: 12px;">
      Conversemos
    </button>
  </div>
</section>

<section class="bg-[#110D25] w-[100%] text-white px-4">
  <div class="w-full ">
    <div class="justify-center flex relative">
      <img class="mt-[124px] w-[934px] h-[558px]" src="assets/img/logo-youtube.png" alt="">
    </div>
    <p class=" justify-center flex relative text-white mt-[177px] text-[56px]">¿Qué hacemos?</p>
    <div class="flex flex-row justify-center relative h-[86px] space-x-[5rem] px-[15rem] mt-40 text-white text-[14px] ">
      <div class="border-t-2">
        <p class=" w-[336px] h-[86px] mt-[32px]">Descubrimos en conjunto, con tu equipo, la hoja de ruta ideal para que
          optimices y transformes tu negocio a
          partir de tecnología como inteligencia artificial, cloud computing, analytics, IoT entre muchas otras.
        </p>
        <img class="mt-[73px]" src="assets/img/Imagen1-quehacemos.png" alt="">
      </div>
      <div class=" border-t-2">
        <p class="w-[458px] h-[43px] mt-[32px]">Creamos nuevas soluciones cloud y migramos las ya existentes, con las
          tecnologías de avanzada que mejoren la
          digitalización de tu negocio, con los costos óptimos y bajo control en todo momento.
        </p>
        <img class="mt-[114px]" src="assets/img/Imagen2-quehacemos.png" alt="">
      </div>
      <div class="border-t-2">
        <p class="w-[337px] h-[81px] mt-[32px]">Conectamos tus datos, sistemas y sensores con tecnología graph, lo que
          permite tener operaciones más
          dinámicas y la capacidad para realizar analytics y capturar insights desde el inicio, sin tener que
          implementar complejos proyectos de data.</p>
        <img class="mt-[78px]" src="assets/img/Imagen3-quehacemos.png" alt="">
      </div>
    </div>



    <div class="mt-[896px] text-white ml-[130px]">
      <div class="relative">
        <img class="absolute ml-[782px] mt-[-70px] w-[790px]  h-[414px]" src="assets/img/cubo-devalores.png" alt="">
        <div>
          <p class="text-[60px] w-[430px]">¿Cómo lo hacemos?</p>
          <p class="text-[20px]">Nuestros valores guían cómo trabajamos:</p>
        </div>
      </div>
    </div>



    <div class="relative mt-[339px] text-white">
      <div>
        <p class="justify-center flex mt-[177px] text-[56px]">Nuestra Formula</p>
      </div>

      <div class="flex flex-row justify-center relative h-[86px] space-x-[17rem] mt-[81px] ">
        <div class="text-[12.5px]">
          <p class="flex flex-row justify-center flex relative">Etapa1</p>
          <h4 class="text-[20px]  ">Business Outcome Oriented</h4>
        </div>
        <div>
          <p class="flex flex-row justify-center flex relative">Etapa2</p>
          <h4 class="text-[20px]">Business Outcome Oriented</h4>
        </div>
        <div>
          <p class="flex flex-row justify-center flex relative">Etapa3</p>
          <h4 class="text-[20px]">Business Outcome Oriented</h4>
        </div>


      </div>
      <img class="ml-[131px] w-[1500px] h-[200px]" src="assets/img/Grafico-formula.png" alt="">



      <div class="flex flex-row justify-center space-x-[12rem] mt-40 ">
        <div class="w-[345px]  bg-[#110D25] mb-[22rem]">
          <h4 class="text-[20px]">Siempre hay una finalidad de negocio, un logro que realizar, un objetivo y resultado
            que alcanzar:</h4>
          <ul class="text-[14px] mt-[50px] ml-[20px]">
            <li type="circle">Comprendemos la necesidad o problema que quieres abordar.</li>
            <li type="circle">Si es necesario, te ayudamos a descubrirlo.</li>
            <li type="circle">Buscamos cuantificar el resultado esperado, para medirlo.</li>
            <li type="circle">Diseñamos una versión de la solución en alta fidelidad.</li>
            <li type="circle">Acordamos cómo deben ser las versiones inicial, intermedias y final. </li>
            <li type="circle">Alineamos la solución diseñada con el resultado esperado. </li>
          </ul>
        </div>
        <div class="w-[345px]">
          <h4 class="text-[20px]">Siempre hay una finalidad de negocio, un logro que realizar, un objetivo y resultado
            que alcanzar:</h4>
          <ul class="text-[14px] mt-[50px] ml-[20px]">
            <li type="circle">Usamos las metodologías, marcos de trabajo y prácticas que la solución requiere.</li>
            <li type="circle">Reducimos la incertidumbre desde el inicio con nano-labs y nano-PoCs.</li>
            <li type="circle">Empezamos con un MVP que realmente agregue valor.</li>
            <li type="circle">Buscamos incrementar rápidamente el aprendizaje de tu negocio.</li>
            <li type="circle">Usamos talento que despliegue eficacia y velocidad.</li>
            <li type="circle">Incorporamos oportunamente las capacidades digitales que se requiere.</li>
          </ul>
        </div>
        <div class="w-[345px] ">
          <h4 class="text-[20px]">Siempre hay una finalidad de negocio, un logro que realizar, un objetivo y resultado
            que alcanzar:</h4>
          <ul class="text-[14px] mt-[50px] ml-[20px]">
            <li type="circle">Diseñamos el blueprint de la solución con el crecimiento en mente.</li>
            <li type="circle">Logramos integración con diferentes ecosistemas tecnológicos.</li>
            <li type="circle">Incorporamos las características de cybersecurity que se requiera.</li>
            <li type="circle">Desplegamos soluciones en high availability, resilientes.</li>
            <li type="circle">Consideramos los requerimientos de regulación y cumplimiento que tu negocio necesita.</li>
            <li type="circle">Podemos hacer la solución multi-cloud o cloud-agnostic.</li>
          </ul>
        </div>
      </div>

    </div>




  </div>
</section>

<section class="mt-[201px] px-4">
  <div class="flex flex-row">
    <p class="text-[60px] ml-[131px]">Servicios</p>
    <div class="ml-[591px]">

      <div class="w-[735px] h-[319px]">
        <img src="assets/img/Digital-Discovery (1).png" alt="">
        <p class="text-[20px] mt-[7px]">Digital Discover & Assessment</p>
        <p class="text-[14px] mt-[7px]">Realizamos sesiones de trabajo en conjunto con el cliente. Buscamos lograr una
          inmersión eficiente en la tecnología vía el modelo Digital Mindset Adoption. Evaluamos los casos de uso
          potenciales y los priorizamos de acuerdo a su valor al negocio y complejidad. Diseñamos una versión high level
          de la hoja de ruta digital, con la consideración de actividades nuestras y del cliente. Incorporamos diversos
          aspectos para garantizar el éxito de la migración: regulación, cumplimiento, seguridad, finanzas, y otros más.
        </p>
      </div>


      <div class="w-[735px] h-[319px] mt-[28px] ">
        <img src="assets/img/Journey.png" alt="">
        <p class="text-[20px] mt-[7px]">Digital Discover & Assessment</p>
        <p class="text-[14px] mt-[7px]">Realizamos sesiones de trabajo en conjunto con el cliente. Buscamos lograr una
          inmersión eficiente en la tecnología vía el modelo Digital Mindset Adoption. Evaluamos los casos de uso
          potenciales y los priorizamos de acuerdo a su valor al negocio y complejidad. Diseñamos una versión high level
          de la hoja de ruta digital, con la consideración de actividades nuestras y del cliente. Incorporamos diversos
          aspectos para garantizar el éxito de la migración: regulación, cumplimiento, seguridad, finanzas, y otros más.
        </p>
      </div>

      <div class="w-[735px] h-[319px] mt-[28px] ">
        <img src="assets/img/Datagraph.png" alt="">
        <p class="text-[20px] mt-[7px]">Digital Discover & Assessment</p>
        <p class="text-[14px] mt-[7px]">Realizamos sesiones de trabajo en conjunto con el cliente. Buscamos lograr una
          inmersión eficiente en la tecnología vía el modelo Digital Mindset Adoption. Evaluamos los casos de uso
          potenciales y los priorizamos de acuerdo a su valor al negocio y complejidad. Diseñamos una versión high level
          de la hoja de ruta digital, con la consideración de actividades nuestras y del cliente. Incorporamos diversos
          aspectos para garantizar el éxito de la migración: regulación, cumplimiento, seguridad, finanzas, y otros más.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="mt-[283px] ml-[40rem]">
      <img class="w-[471px] h-[471px] ml-[6rem]" src="assets/img/Referencias-industria.png" alt="">
      <h1 class="w-[788px] h-[93px] text-[56px]">Referencia de la industria</h1>
    </div>

    <div class="mt-[99px] flex flex-row space-x-[64px] ml-[22rem]">
      <div class="w-[598px] h-[297px] text-[14px]">
        <p class="mb-[40px]">“No existe una estrategia comercial sin una estrategia en la nube. La adopción y el interés
          en la nube
          pública
          continúan sin cesar a medida que las organizaciones siguen una política de cloud-first para incorporar nuevas
          cargas de trabajo. La nube ha permitido nuevas experiencias digitales, como los sistemas de pago móvil, por
          los
          cuales los bancos han invertido en startups; las empresas de energía, que utilizan la nube para mejorar las
          experiencias minoristas de sus clientes; o las empresas de automóviles, que lanzan nuevos servicios de
          personalización para la seguridad y el entretenimiento de los clientes”.
        </p>
        <p class="text-[20px]">Milind Govekar, VP,</p>
        <p class="text-[14px]">Gartner Group</p>
      </div>

      <div class="w-[598px] h-[297px] text-[14px] mb-[284px]">
        <p class="mb-[40px]">“No existe una estrategia comercial sin una estrategia en la nube. La adopción y el interés
          en la nube
          pública
          continúan sin cesar a medida que las organizaciones siguen una política de cloud-first para incorporar nuevas
          cargas de trabajo. La nube ha permitido nuevas experiencias digitales, como los sistemas de pago móvil, por
          los
          cuales los bancos han invertido en startups; las empresas de energía, que utilizan la nube para mejorar las
          experiencias minoristas de sus clientes; o las empresas de automóviles, que lanzan nuevos servicios de
          personalización para la seguridad y el entretenimiento de los clientes”.
        </p>
        <p class="text-[20px]">Milind Govekar, VP,</p>
        <p class="text-[14px]">Gartner Group</p>
      </div>
    </div>
  </div>


</section>

<section class="bg-[#F3F3F3]">
  <div class="text-[20px]">
    <div class="flex justify-center ">
      <div class="flex flex-col ml-[400px] mt-[69px]">
        <p class=" text-[56px] w-[640px]">Suspendisse vitae </p>
        <p class=" text-[56px] w-[640px] ml-[40px]">pharetra netus</p>
      </div>
    </div>
    <div class="flex flex-row justify-center">
      <div class=" ml-[70px] mt-[144px] ">
        <mat-form-field class="w-[658px] h-[33px]">
          <mat-label>Nombres</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="w-[558px] h-[33px] ml-[22px]">
          <mat-label>Apellidos</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-row justify-center">
      <div class=" ml-[70px] mt-[144px] ">
        <mat-form-field class="w-[658px] h-[33px] ">
          <mat-label>Correo Empresarial</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="w-[558px] h-[33px] ml-[22px] ">
          <mat-label>Telefono o celular</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-row justify-center">
      <div class=" ml-[70px] mt-[144px] ">
        <mat-form-field class="w-[1248px] h-[33px]">
          <mat-label>Mensaje</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="mt-[54px] flex justify-center ml-[8rem]">
    <button mat-raised-button class="w-[221px] h-[60px] text-[14.5px] text-white"
      style="margin-bottom: 79px; background: linear-gradient(180deg, #082CEC 0%, rgba(97, 0, 255, 0.6) 100%); border-radius: 12px;">
      Enviar
    </button>
  </div>

</section>

<section class="mt-[92px]">
  <div class="flex flex-row justify-center space-x-[30rem]">
    <div>
      <p>© 2022 Solucionática. All Rights Reserved.</p>
    </div>
    <div>
      <div class="space-x-[7rem] flex flex-row ml-[4rem]">
        <img src="assets/img/Facebook-icons_facebook-fill.png" alt="">
        <img src="assets/img/IN-icons_linkedin-box-fill.png" alt="">
        <img src="assets/img/M-design_medium-circle-filled.png" alt="">
      </div>
    </div>
    <div class="mb-[30px]">

      <p>Diseño y desarrollo por Esedor.com</p>

    </div>

  </div>
</section>
